:root {
  --swiper-theme-color: #ffffff;
  --swiper-navigation-size: 28px;
}

.swiper-button-prev {
  /* positioning */
  left: 25px;
}

.swiper-button-next {
  /* positioning */
  right: 25px;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 0px;
  transition: all 0.2s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background-color: rgba(2, 51, 0, 0.411);
  padding: 8px;
  border-radius: 2px;
}

.swiper-slide {
  /* display and box model */
  margin: none;
  display: flex;
  /* positioning */
  justify-content: center;
  align-items: center;
  height: 330px;
}

@media all and (max-width: 790px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-button-prev {
    /* positioning */
    left: 10px;
  }

  .swiper-button-next {
    /* positioning */
    right: 10px;
  }
}

/* responsive settings */
