.HeroT-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.HeroT-img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
}

.HeroT-img:focus {
  cursor: grab;
}

.HeroT-detail-container {
  background-color: rgba(0, 0, 0, 0.61);
  padding: 25px;
  position: absolute;
  left: 8%;
  top: 45%;
  transform: translate(0%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  border-radius: 4px;
}

.HeroT-detail-container h1 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  text-rendering: optimizeLegibility;
  color: aliceblue;
  width: 100%;
  text-transform: capitalize;
}

.HeroT-detail-welcome {
  font-size: calc(1rem + 2px);
  font-weight: 500;
  color: rgb(241, 241, 241);
}

.HeroT-detail-p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  color: rgb(241, 241, 241);
  width: 100%;
  margin-top: -5px;
}

.HeroT-btn:hover {
  background-color: #16a9df;
  animation: wiggle 0.3s ease;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-5deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(5deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@media (max-width: 1400px) {
  .HeroT-detail-container {
    left: 7%;
    top: 45%;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  /*   :root {
    --HeroT-p-fs: 1.05rem;
    --HeroT-h1-max-width: 430px;
    --HeroT-p-max-width: 420px;
    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 10px 5px;
    --HeroT-btn-max-width: 150px;
  } */

  .HeroT-detail-container {
    gap: 6px;
  }
}

@media (max-width: 1000px) {
  /*   :root {
    --HeroT-h1-fs: clamp(1.5rem, 3vw + 1rem, 2rem);
    --HeroT-p-fs: 1rem;
    --HeroT-p-max-width: 350px;
    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 10px 5px;
    --HeroT-btn-max-width: 150px;
  } */

  .HeroT-detail-container {
    left: 6%;
    gap: 10px;
  }
}

@media (max-width: 769px) {
  /*   :root {
    --HeroT-p-fs: 1rem;
    --HeroT-h1-max-width: 400px;
    --HeroT-p-max-width: 100%;
    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 10px 8px;
    --HeroT-btn-max-width: 150px;
  } */

  .HeroT-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .HeroT-detail-container {
    position: relative;
    left: 0;
    top: -4px;
    transform: none;
    border-radius: 0px;
    background-color: #00488b;
    padding: 20px 25px;
  }
}

@media (max-width: 650px) {
  /*   :root {
    --HeroT-h1-fs: 2.7rem;
    --HeroT-p-fs: 1rem;
    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 12px 8px;
    --HeroT-btn-max-width: 140px;
  } */

  .HeroT-detail-container {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  /*   :root {
    --HeroT-h1-fs: 2rem;
    --HeroT-p-fs: 1rem;
    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 12px 13px;
    --HeroT-btn-max-width: 100%;
  } */

  .HeroT-detail-container {
    gap: 12px;
    padding: 20px 25px 60px;
  }
}

@media (max-width: 400px) {
  /*   :root {
    --HeroT-h1-fs: 1.6rem;
    --HeroT-p-fs: 1rem;

    --HeroT-btn-fs: 1rem;
    --HeroT-btn-padding: 12px 13px;
  }
 */
  .HeroT-detail-container h1 {
    line-height: 110%;
    letter-spacing: 1px;
  }

  .HeroT-detail-container {
    padding: 15px 15px 50px;
  }

  .HeroT-btn {
    margin-top: 5px;
  }
}
