.react-multiple-carousel__arrow--right {
  right: calc(2% + 1px);
  background-color: rgba(26, 26, 26, 0.664);
  border-radius: 4px;
  min-height: 30px;
  min-width: 30px;
}

.react-multiple-carousel__arrow--left {
  left: calc(2% + 1px);
  background-color: rgba(26, 26, 26, 0.664);
  border-radius: 4px;
  min-height: 30px;
  min-width: 30px;
}

.react-multi-carousel-dot-list {
  display: none;
}

.react-multi-carousel-list:active {
  cursor: grabbing;
}

.react-multi-carousel-dot--active {
  color: brown !important;
}

@media (max-width: 480px) {
  .react-multiple-carousel__arrow--right,
  .react-multiple-carousel__arrow--left {
    top: 20%;
  }

  .react-multi-carousel-dot-list {
    display: flex;
    bottom: 3%;
  }
}
